.involvement {
  display: flex;
  width: 1440px;
}

.involvementImage {
  max-width: 100%;
  height: auto;
}

.involvementText {
  padding-top: 125px;
  padding-left: 40px;
  color: #3d3b3b;
  font-family: "Lato", sans-serif;
  h1 {
    font-size: 48px;
    font-weight: 700;
  }
  p {
    font-size: 24px;
    font-weight: 400;
  }
  button {
    font-family: Oswald;
    border-color: #2bb673;
    border-style: solid;
    border-width: 1.5px;
    background-color: white;
    color: #1ca99f;
    padding: 21px 56px;
    font-size: 30px;
    font-weight: 700;
  }
}
