.empower {
  display: flex;
  width: 1440px;
  background-image: url(empower.png);
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.empowerText {
  margin-top: 88px;
  color: #3d3b3b;
  font-family: Oswald;
  h1 {
    font-size: 80px;
    font-weight: 700;
  }
}

.empowerButton {
  margin-top: 51px;
  margin-bottom: 67px;
  font-family: "Lato", sans-serif;
  button {
    font-size: 26px;
    font-weight: 700;
    color: #1ca99f;
    border-color: #2bb673;
    border-style: solid;
    border-width: 1px;
    background-color: #fffdfd;
    border-radius: 80px;
    padding: 21px 24px;
  }
  button:hover {
    background-color: #f0f2f0;
  }
  button:focus {
    background-color: #e3e6e4;
  }
}
